.card{
    background-color: rgb(196, 196, 196);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    border: 2px solid black;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    
}
.accName{
    font-size: 30px;
    border-bottom: 2px solid black;
}
.g1{
    margin-top: 20px;
    font-size: 25px;
    display: flex;

}