.card{
    background-color: rgb(196, 196, 196);
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    
}
.accName{
    font-size: 30px;
    border-bottom: 2px solid black;
}
.g1{
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    
}